.category-card {
    left: calc(9 * 8rem);
    animation: scrollLeft 30s linear infinite;
}

@media (min-width: 676px) {
    .category-card {
        left: 100%;
    }
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}