@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
  }
}

.container {
    @apply mx-auto px-4 md:px-6 lg:px-20;
}

.section-title {
    @apply text-center font-bold text-3xl mt-8 mb-16
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
   @apply w-1
}
html::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-primary
}

/* For burgermenu animation */
.rotate-down {
    position: absolute;
    transform: rotate(45deg);
}

.rotate-up {
    position: absolute;
    transform: rotate(-45deg);
}
