@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto px-4 md:px-6 lg:px-20;
}

/* For burgermenu animation */
.rotate-down {
    position: absolute;
    transform: rotate(45deg);
}

.rotate-up {
    position: absolute;
    transform: rotate(-45deg);
}
